body {
    margin: 0;
    height: -webkit-fill-available;
    font-family: 'Segoe UI', sans-serif;
    color: #8F9599;
    background-color: #F2F6F9;
}
span {
    width: 17px;
    height: 20px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 2px;
    margin-right: 5px;
    box-shadow: 0px 0px 1px;
    background-color: white;
}
.all-content, .left-content, .date{
    display: flex;
    flex-direction: row;
}
.all-content {
    justify-content: space-between;
    height: 100%;
}

.left-content {
    background-color: #278DF7;
    justify-content: right;
    min-width: 20em;
    box-shadow: 2px 0px 12px #00000052;
}

.left-content .menu {
    width: 80%;
    min-width: 10em;
    background-color: white;
}

.right-content {
    box-shadow: -2px 0px 12px #00000052;
    min-width: 20em;
    background-color: white;
}
.mid-content {
    margin: 3em auto;
}
.map-title {
    padding: 5px 20px;
    background-color: #278DF7;
    font-weight: lighter;
    color: white;
    border-radius: 10px;
}
.menu {
    padding: 20px 10px;
}
.country {
    font-size: 30px;
}
.section h2, .other-risk h2 {
    font-weight: bold;
    font-size: 15px;
}
.section ul {
    list-style: none;
    padding: 0px;
    border: 1px solid #a2a2a2;
    width: fit-content;
    border-radius: 5px;
    margin-left: 10px;
}
.section, .other-risk {
    margin-bottom: 50px;
}
.section ul li {
    padding: 5px 20px;
    border-bottom: 1px solid;
}
.right-content  a {
    padding: 7px 15px;
    background-color: #278DF7;
    font-weight: lighter;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    float: right;
    margin-right: 20px;
    margin-bottom: 50px;
}
.main-events li {
    margin: 10px;
    border: 1px solid;
    margin: 0;
}
.main-events ul {
    border: none;
    width: -webkit-fill-available;
    margin-right: 10px;
}
.main-events ul li {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}
.landslides-graph-freq {
    width: 90%;
    min-height: 100px;
    background-color: white;
    margin: auto;
    box-shadow: 0px 1px 4px #00000036;
    padding: 5px 10px;
}
.other-risk ul {
    display: grid;
    grid: auto-flow / 1fr 1fr;
}
/*FONTS*/
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}